.site-card-wrapper {
  position: relative;
  top: 20px;
}

.image {
  width: 322px;
  height: 185px;
  position: relative;
  top: -23px;
  left: -21px;
  border-radius: 10px;
}

.button {
  position: absolute;
  top: 145px;
  left: 10px;
  background-color: yellow !important;
  color: black;
  height: 30px;
}

h6 {
  font-size: 15px;
  position: relative;
  left: -10px;
  top: -15px;
}
h1 {
  position: relative;
  left: -10px;
  top: -15px;
}
p {
  position: relative;
  left: -10px;
  top: -15px;
}

.heart {
  position: absolute;
  left: 290px;
  top: 193px;
  font-size: 22px;
}
